@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,700,300italic,400italic,500italic,700italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*// {{{
 *this is copies from tufte.css font set (et-book)
 */
@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("../fonts/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("../fonts/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("../fonts/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("../fonts/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("../fonts/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

/*$base-border-color: #adad97;*/
/*$header-background-color: rgba(255,255,255,0.9);*/
aside .block, .flex-boxes .flex-box img, .islandora-metadata {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 3px; }

.collection-slide .field--name-field-collection-logo img {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.375rem;
  border-radius: 3px; }

.button,
button,
.collection-slide__close-button,
.collection-slide__node-link a,
.fieldset-legend a,
.all-link a, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #5C8727;
  border: 0;
  border-radius: 3px;
  color: #fffef2;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto;
  font-size: 1rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 400ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .button:hover, .button:focus,
  button:hover,
  .collection-slide__close-button:hover,
  .collection-slide__node-link a:hover,
  .fieldset-legend a:hover,
  .all-link a:hover,
  button:focus,
  .collection-slide__close-button:focus,
  .collection-slide__node-link a:focus,
  .fieldset-legend a:focus,
  .all-link a:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #4a6c1f;
    color: #fff; }
  .button:disabled,
  button:disabled,
  .collection-slide__close-button:disabled,
  .collection-slide__node-link a:disabled,
  .fieldset-legend a:disabled,
  .all-link a:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    .button:disabled:hover,
    button:disabled:hover,
    .collection-slide__close-button:disabled:hover,
    .collection-slide__node-link a:disabled:hover,
    .fieldset-legend a:disabled:hover,
    .all-link a:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5C8727; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375rem;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375rem; }

input,
select,
textarea {
  display: block;
  font-family: et-book;
  font-size: 1rem; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /*background-color: $base-background-color;*/
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  transition: border-color 400ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #a3a3a3; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5C8727;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(79, 115, 33, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f1e6;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ccc; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #858585; }
  [type='color']::-moz-placeholder, [type='date']::-moz-placeholder, [type='datetime']::-moz-placeholder, [type='datetime-local']::-moz-placeholder, [type='email']::-moz-placeholder, [type='month']::-moz-placeholder, [type='number']::-moz-placeholder, [type='password']::-moz-placeholder, [type='search']::-moz-placeholder, [type='tel']::-moz-placeholder, [type='text']::-moz-placeholder, [type='time']::-moz-placeholder, [type='url']::-moz-placeholder, [type='week']::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
    color: #858585; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375rem; }

[type="file"] {
  margin-bottom: 0.75rem;
  width: 100%; }

select {
  margin-bottom: 0.75rem;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

.l-header {
  padding-top: 0.75rem; }

/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.l-constrained, .l-region--navigation, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto; }
  .l-constrained::after, .l-region--navigation::after, .l-region--highlighted::after, .l-region--footer::after {
    clear: both;
    content: "";
    display: block; }

.l-region--navigation {
  margin-bottom: 1em; }

/* Header */
.logged-in .l-header {
  top: 57px; }
  @media screen and (min-width: 900px) {
    .logged-in .l-header {
      top: 28px; } }

.l-header {
  padding: 0.75rem 0; }
  .l-header .block {
    float: right; }

/* Content Area */
.l-highlighted-wrapper {
  padding: 1.5rem 0; }

.l-region--help {
  margin-bottom: 1.5rem; }

.l-main {
  /*margin-top: 2 * $base-spacing;*/
  margin-top: 135px;
  margin-bottom: 3rem; }

/* Sidebars */
/* Footer */
.l-footer-wrapper {
  padding: 1.5rem 0; }

@media screen and (min-width: 600px) {
  /* Header */
  .l-branding {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .l-branding:last-child {
      margin-right: 0; }
  .l-region--header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    .l-region--header:last-child {
      margin-right: 0; }
  /* Sidebars */
  .two-sidebars .l-content,
  .one-sidebar .l-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .two-sidebars .l-content:last-child,
    .one-sidebar .l-content:last-child {
      margin-right: 0; }
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second,
  .one-sidebar .l-region--sidebar-first,
  .one-sidebar .l-region--sidebar-second {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    clear: right; }
    .two-sidebars .l-region--sidebar-first:last-child,
    .two-sidebars .l-region--sidebar-second:last-child,
    .one-sidebar .l-region--sidebar-first:last-child,
    .one-sidebar .l-region--sidebar-second:last-child {
      margin-right: 0; } }

@media screen and (min-width: 900px) {
  .l-constrained, .l-region--navigation, .l-region--highlighted, .l-region--footer {
    max-width: 1440px; }
  /* Sidebars */
  .one-sidebar .l-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    padding-right: 1.5rem; }
    .one-sidebar .l-content:last-child {
      margin-right: 0; }
  .one-sidebar .l-region--sidebar-first {
    margin-top: 1.5rem;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
    clear: none; }
    .one-sidebar .l-region--sidebar-first:last-child {
      margin-right: 0; }
  .two-sidebars .l-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .two-sidebars .l-content:last-child {
      margin-right: 0; }
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    clear: none; }
    .two-sidebars .l-region--sidebar-first:last-child,
    .two-sidebars .l-region--sidebar-second:last-child {
      margin-right: 0; }
  .two-sidebars .l-region--sidebar-second {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .two-sidebars .l-region--sidebar-second:last-child {
      margin-right: 0; } }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.node__content img {
  border: 1px solid #ccc;
  padding: 4px;
  background: #fff; }

/*----------------------------------------------*/
/*-  these may be too much crap in this file   -*/
/*----------------------------------------------*/
.media {
  margin-top: 15px; }

.media:first-child {
  margin-top: 0; }

.media,
.media-body {
  zoom: 1;
  overflow: hidden; }

.media-body {
  width: 10000px; }

.media-object {
  display: block; }

.media-object.img-thumbnail {
  max-width: none; }

.media-right,
.media > .pull-right {
  padding-left: 10px; }

.media-left,
.media > .pull-left {
  padding-right: 10px; }

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
  width: 50%; }

.media-middle {
  vertical-align: middle; }

.media-bottom {
  vertical-align: bottom; }

.media-heading {
  margin-top: 0;
  margin-bottom: 5px; }

.media-list {
  padding-left: 0;
  list-style: none; }

table {
  border-collapse: collapse;
  margin: 0.75rem 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #999999;
  font-weight: 600;
  padding: 0.75rem 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ccc;
  padding: 0.75rem 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 14px; }

body {
  color: #333;
  font-family: et-book;
  font-size: 1.4rem;
  line-height: 1.5;
  background: #fffef2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: et-book;
  /*font-size: modular-scale(1);*/
  line-height: 1.2;
  margin: 0 0 0.75rem; }

h1 {
  font-weight: 400;
  /*margin-top: 4rem;*/
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  line-height: 1; }

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 0.75rem;
  font-size: 2rem;
  line-height: 1; }

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1; }

p {
  margin: 0 0 0.75rem; }

p, ol, ul, dl {
  font-size: 1.4rem; }

p {
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline; }

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42; }

a {
  color: #5C8727;
  text-decoration: none;
  transition: color 400ms ease; }
  a:active, a:focus, a:hover {
    color: #45651d; }

hr {
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5rem 0; }

.pageTitle {
  margin-top: 0; }

.node__content {
  /* Links: replicate underline that clears descenders */ }

.normal_link, .islandora-basic-collection-display-switch a:link {
  text-decoration: initial;
  background: initial;
  background-size: initial;
  background-repeat: initial;
  text-shadow: initial;
  background-position: initial; }

.page-islandora-object h1 {
  margin: 1rem 0; }

.page-islandora-object .breadcrumb {
  margin-bottom: 1rem; }

.islandora-basic-collection-display-switch .links li {
  display: inline-block; }
  .islandora-basic-collection-display-switch .links li:last-child {
    margin-left: .5rem; }

.islandora-basic-collection-display-switch a:link {
  color: #333; }

aside .block h2, aside .block .block__title {
  margin-top: 0;
  border-bottom: 3px solid #5C8727;
  line-height: .7;
  margin-top: 10px; }

aside .block ul a {
  font-family: Roboto;
  font-size: .7em;
  font-weight: 200; }

aside .block + .block {
  margin-top: 1.5rem; }

.block__title {
  margin-top: 0; }
  .block__title .fa {
    /*float: left;*/
    font-size: .8em;
    margin-right: 5px; }

.breadcrumb a {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: .7rem; }

.islandora-basic-collection-display-switch {
  float: right;
  position: absolute;
  top: 0;
  right: 0; }

.islandora-basic-collection {
  margin-top: 1.5rem;
  position: relative; }

.flex-boxes {
  -ms-flex-align: stretch;
      align-items: stretch;
  clear: both;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: block; }
  .flex-boxes .flex-box {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background: white;
    border-radius: 3px;
    /*box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken( white, 10%);*/
    border: 1px solid #ccc;
    display: block;
    -ms-flex: 2 2 12em;
        flex: 2 2 12em;
    margin: 0.75rem;
    /*padding: 2em 2em 1em 2em;*/
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-top: 6px solid #999; }
    .flex-boxes .flex-box a {
      display: block;
      padding: 1em; }
    .flex-boxes .flex-box:focus, .flex-boxes .flex-box:hover {
      background-color: rgba(153, 153, 153, 0.1);
      /*.flex-title {*/
      /*@extend %nice_underline;*/
      /*}*/ }
    .flex-boxes .flex-box img {
      display: block;
      height: 8em;
      margin: 0 auto 1em;
      padding: 2px; }
    .flex-boxes .flex-box .flex-title {
      font-size: 1em; }
    .flex-boxes .flex-box p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  .flex-boxes .flex-box-big {
    -ms-flex: 1 1 40em;
        flex: 1 1 40em; }

.field--name-field-collection-logo img {
  border: 1px solid #ccc;
  padding: 4px;
  background: #fff;
  float: left;
  margin: 0 1em 1em 0;
  width: 257px;
  height: auto; }

.collection-slide {
  min-height: 350px;
  position: relative;
  background-color: #cfc5aa;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
  padding: 1.5rem; }
  .collection-slide::after {
    clear: both;
    content: "";
    display: block; }

.collection-slide__teaser a:link, .collection-slide__teaser a:visited {
  color: inherit; }

.collection-slide__teaser a:link {
  text-decoration: none;
  background: linear-gradient(#cfc5aa, #cfc5aa), linear-gradient(#cfc5aa, #cfc5aa), linear-gradient(#333, #333);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #cfc5aa, -0.03em 0 #cfc5aa, 0 0.03em #cfc5aa, 0 -0.03em #cfc5aa, 0.06em 0 #cfc5aa, -0.06em 0 #cfc5aa, 0.09em 0 #cfc5aa, -0.09em 0 #cfc5aa, 0.12em 0 #cfc5aa, -0.12em 0 #cfc5aa, 0.15em 0 #cfc5aa, -0.15em 0 #cfc5aa;
  background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .collection-slide__teaser a:link {
    background-position-y: 87%, 87%, 87%; } }

.collection-slide__teaser a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe; }

.collection-slide__teaser a:link::selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe; }

.collection-slide__teaser a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe; }

.collection-slide__title {
  margin: 0 0 0.75rem 0; }

.collection-slide .field--name-field-collection-logo img {
  border-color: #9e9e9e;
  float: left;
  margin: 0 0.75rem 0.75rem 0; }

.collection-slide__close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
  line-height: .7; }

.collection-slide__node-link a {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem; }

.collection-tile__title {
  margin: 0; }

.grid-items-lines {
  position: relative; }
  .grid-items-lines::after {
    clear: both;
    content: "";
    display: block; }
  .grid-items-lines .grid-item {
    background: #fffef2;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    float: left;
    height: 14em;
    outline: none;
    overflow: hidden;
    /*padding: 2em;*/
    padding: 1.5rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%; }
    @media screen and (min-width: 900px) {
      .grid-items-lines .grid-item {
        width: 16.66667%; } }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: 0.2; }
  .grid-items-lines .grid-item h1 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6);
    line-height: 1.5em; }
    @media screen and (min-width: 600px) {
      .grid-items-lines .grid-item p {
        /*max-width: 70%;*/ } }
  @media screen and (min-width: 900px) {
    .grid-items-lines .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 600px) {
    .grid-items-lines .grid-item-big p {
      /*max-width: 60%;*/ } }
  .grid-items-lines .bottom-cover {
    background: #fffef2;
    bottom: 0;
    height: 3px;
    position: absolute;
    width: 100%; }
  .grid-items-lines .right-cover {
    background: #fffef2;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4px; }

.collection-grid .island_imagined.collection-tile {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("/sites/default/files/pei_map_2_0.jpeg"); }
  .collection-grid .island_imagined.collection-tile:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), url("/sites/default/files/pei_map_2_0.jpeg"); }

.collection-grid .island_stories.collection-tile {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("/sites/default/files/abouti-islandstories-icon_0.png"); }
  .collection-grid .island_stories.collection-tile:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), url("/sites/default/files/abouti-islandstories-icon_0.png"); }

.collection-grid .island_lives.collection-tile {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("/sites/default/files/islandlives.png"); }
  .collection-grid .island_lives.collection-tile:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), url("/sites/default/files/islandlives.png"); }

.faq dt {
  margin-bottom: 0.75rem; }

.faq dd {
  margin-bottom: 1.5rem; }

.footer-2 .footer-logo img {
  width: 107px;
  height: auto; }

.l-region--footer {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.l-footer-wrapper {
  background: #333; }

.upei-footer .address {
  font-size: 1rem; }

.upeisheildfooter {
  width: 150px; }

.footer-links ul, .links-last {
  font-family: Roboto;
  font-size: .8rem;
  font-weight: 100; }

.footer-links .title {
  margin-bottom: .5rem; }

.header {
  background-color: rgba(255, 254, 242, 0.9);
  z-index: 998;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transition: all 400ms ease;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5); }
  .header .container {
    padding: 0 1em; }
    @media screen and (min-width: 1140px) {
      .header .container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: center;
            align-items: center; } }

.header__branding {
  width: 19rem;
  float: left; }
  .header__branding::after {
    clear: both;
    content: "";
    display: block; }
  .header__branding .header__branding__logo {
    float: left;
    margin-right: 0.75rem;
    width: 40px; }
    @media screen and (min-width: 900px) {
      .header__branding .header__branding__logo {
        width: 48px; } }
    .sticky .header__branding__logo {
      transition: all 400ms ease;
      width: 40px; }
  .header__branding .header__branding__name {
    margin: 0;
    font-size: 1.9rem;
    line-height: .7; }
    @media screen and (min-width: 900px) {
      .header__branding .header__branding__name {
        font-size: 3rem; } }
    .header__branding .header__branding__name a {
      color: #333; }
    .sticky .header__branding__name {
      transition: all 400ms ease;
      font-size: 1.9em; }
  .header__branding .header__branding__slogan {
    margin: 0; }
    .sticky .header__branding__slogan {
      transition: all 400ms ease;
      font-size: 1.5rem; }
    @media screen and (min-width: 900px) {
      .header__branding .header__branding__slogan {
        font-size: 2rem; } }
  @media screen and (min-width: 600px) {
    .header__branding {
      width: 30em; } }
  @media screen and (min-width: 1140px) {
    .header__branding {
      -ms-flex: none;
          flex: none; } }

.header__menu {
  float: right; }
  @media screen and (min-width: 1140px) {
    .header__menu {
      -ms-flex-positive: 2;
          flex-grow: 2;
      margin-right: 1.5rem; } }

.header__menu .sf-accordion-toggle {
  position: absolute;
  top: 10px;
  right: 10px; }
  .header__menu .sf-accordion-toggle a {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
    .header__menu .sf-accordion-toggle a:before {
      content: "\f0c9"; }
  .header__menu .sf-accordion-toggle span {
    display: none; }

.header__menu #superfish-1-accordion {
  width: 204px;
  float: right;
  background: #fff;
  padding: .5em;
  border: 1px solid #ccc; }

.header__search {
  position: relative;
  clear: both; }
  .header__search [type=text] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    margin: 0;
    font-family: Roboto;
    padding: 0.5rem 0.5rem;
    position: relative;
    transition: border-color;
    width: 100%;
    border-radius: 20px; }
  .header__search [type=submit] {
    box-shadow: none;
    font-family: "Fontawesome";
    color: #5C8727;
    font-size: 1.2rem;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    outline: none;
    padding: 5px 10px; }
  @media screen and (min-width: 600px) {
    .header__search {
      width: 267px;
      float: right;
      clear: right; } }

.hero {
  /*margin-top: 135px;*/
  -ms-flex-align: center;
      align-items: center;
  /*this image is from http://freestock.ca/canada_g92-pei_coastal_scenery__hdr_p1910.html and is ok for no commercial use*/
  background-image: url("../images/photo_1910_20120525_v1.jpg");
  background-position: right;
  background-size: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 25em;
  padding: 2em;
  background-color: #999;
  background-size: cover; }
  @media screen and (min-width: 900px) {
    .hero {
      background-position: left -44px;
      background-size: cover;
      -ms-flex-pack: end;
          justify-content: flex-end; } }
  .hero .hero-content {
    padding: 0.75rem;
    margin-top: 8em;
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.42);
    max-width: 33em;
    text-align: center; }
    .hero .hero-content h1 {
      margin: 0 0 0.75rem 0; }
    .hero .hero-content p {
      margin: 0; }
    @media screen and (min-width: 900px) {
      .hero .hero-content {
        text-align: left; } }
  .hero .hero-logo {
    margin: auto; }

html.js fieldset.collapsed {
  /*display: none;*/
  border-top-width: 0; }

.fieldset-legend {
  background-image: none !important;
  padding-left: 0  !important; }

.islandora-metadata {
  margin-top: 1.5rem; }
  .islandora-metadata .collapsed {
    display: none;
    background: none;
    border: 0; }
  .islandora-metadata::after {
    clear: both;
    content: "";
    display: block; }
  .islandora-metadata h2 {
    margin: 0; }

/*
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description:
        Purpose of the stylesheet follows.
*/
/*
 * Thumbnails float optionally to the left or right of descriptive lists.
 */
dl.islandora-object-tn {
  float: left; }

dl.islandora-object-fields {
  border-top: 0px solid #ddd;
  float: right;
  margin: 1.5em 0; }

.islandora-object-fields dt {
  font-weight: bold; }

.islandora-object-fields dt.first {
  border-top: 0; }

.islandora-object-fields dt,
.islandora-object-fields dd {
  border-top: 1px solid #ccc; }

.islandora-object-fields dt.first,
.islandora-object-fields dd.first {
  border-top: 0; }

dl.islandora-inline-metadata {
  margin: 0 auto;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em; }

.islandora-inline-metadata dt {
  margin-right: -1px;
  width: 10%;
  font-weight: bold;
  padding-right: 0;
  word-wrap: normal; }

.islandora-inline-metadata dd {
  width: 90%;
  padding-left: 40px; }

dl.islandora-metadata-fields {
  width: 100%; }

.islandora-metadata dt,
.islandora-metadata dd {
  border-top: 1px solid #e5e5e5; }

.islandora-metadata dt.first,
.islandora-metadata dd.first {
  border-top: 0; }

.header__menu::after {
  clear: both;
  content: "";
  display: block; }

.header__menu__items {
  float: right; }

.header__menu__item {
  display: inline-block;
  margin-right: 1.5rem; }
  .header__menu__item.last {
    margin-right: 0; }

.header__menu__item__link {
  /*float: right;*/
  display: inline-block;
  padding: 0.75rem;
  font-family: Roboto;
  color: #333;
  font-weight: 100;
  font-size: 1rem;
  /*transition: border-bottom 400ms ease;*/
  /*border-bottom: 2px solid transparent;*/ }
  .header__menu__item__link:hover {
    /*border-bottom: 2px solid $red;*/ }

.header__menu__item .sf-depth-1 {
  border: 1px solid transparent; }

.header__menu__items > .sf-no-children .header__menu__item__link {
  border-bottom: 2px solid transparent; }
  .header__menu__items > .sf-no-children .header__menu__item__link:hover {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 2px solid #8c2004; }

.header__menu .menu > li.sfHover > a {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff; }

.header__menu .header__menu__item.sfHover > ul {
  background: #fff;
  padding: .5em;
  border: 1px solid #ccc;
  border-top: 2px solid #8c2004;
  top: 1.8em; }

/*
 *audio pages
 */
/*
 *large image pages
 */
.islandora-large-image-content-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .islandora-large-image-content-wrapper #clip {
    display: none; }
  .islandora-large-image-content-wrapper::after {
    clear: both;
    content: "";
    display: block; }
  .islandora-large-image-content-wrapper .islandora-large-image-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .islandora-large-image-content-wrapper .islandora-large-image-content:last-child {
      margin-right: 0; }
  .islandora-large-image-content-wrapper .image_info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .islandora-large-image-content-wrapper .image_info:last-child {
      margin-right: 0; }
    .islandora-large-image-content-wrapper .image_info h2 {
      margin-top: 0; }

ul.pager {
  /*$base-border-color: gainsboro !default;*/
  /*$pagination-background: lighten($pagination-border-color, 10);*/
  /*$pagination-hover-background: lighten($pagination-background, 10);*/
  margin-bottom: 1.5rem; }
  ul.pager li {
    background: #cfc5aa;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 100;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
    padding: 0.375rem 0.809em;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    ul.pager li:hover, ul.pager li:focus {
      background: #fff;
      /*color: $action-color;*/ }
    ul.pager li.pager__item--current {
      background: #fff; }
    ul.pager li a {
      color: #333; }

.pager__item {
  padding: 0; }
  .pager__item--first i, .pager__item--previous i {
    margin-right: 4px; }
  .pager__item--next i, .pager__item--last i {
    margin-left: 4px; }

.pull-quote > p:first-of-type::before, .pull-quote > p:last-of-type::after {
  color: #cdcdcd;
  display: inline-block;
  font-size: 2.8125rem;
  font-weight: bold;
  line-height: 0;
  max-width: 1.25rem; }

.pull-quote {
  border: 0;
  margin: 2rem 0 1rem;
  padding-left: 2rem;
  padding-right: 1.25rem;
  position: relative; }

@media (min-width: 768px) {
  .pull-quote {
    margin: 1.5rem 0 1.5rem; } }

.pull-quote > p {
  font-size: 1.4375rem;
  font-style: normal;
  margin: 0; }

.pull-quote > p:first-of-type::before {
  content: '\201C\2002';
  margin-left: -1.5rem;
  margin-right: .25rem; }

.pull-quote > p:last-of-type {
  margin-bottom: 0; }

.pull-quote > p:last-of-type::after {
  content: '\2002\201E';
  margin-left: .5rem; }

.pull-quote__citation {
  display: inline-block;
  /*font-size: 1.25rem;*/
  font-style: italic;
  line-height: 1.5;
  margin-top: 0;
  width: 100%;
  border: 0;
  padding-left: 2rem;
  padding-right: 1.25rem;
  position: relative; }

.islandora-solr-facet li {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.block ul.islandora-solr-facet {
  padding: 0 0 0 1em;
  margin: 0;
  padding: 0; }

.count {
  padding-right: 4px;
  padding-left: 4px;
  font-family: Roboto;
  font-size: .7em; }

.plusminus {
  line-height: 1; }

.islandora-solr-facet-wrapper h3 {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 300;
  margin: 1.5rem 0 0.75rem 0;
  font-style: normal; }

.page-islandora-search .pageTitle {
  display: -ms-flexbox;
  display: flex; }

.page-islandora-search #islandora-solr-result-count {
  padding-left: 0.75rem;
  font-size: 1em;
  font-size: .7em;
  line-height: 1.7; }

#islandora-solr-top {
  min-height: initial; }

aside nav div + div {
  margin-bottom: 1.5rem; }

aside nav + nav {
  margin-top: 1.5rem; }

.menu li > ul {
  margin-left: 0.75rem; }

.all-link a {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  width: 220px;
  margin-top: 1.5rem; }

.tabs {
  border: 1px solid #ccc;
  border-width: 1px 0;
  margin-bottom: 1.5rem;
  background: #fff; }
  .tabs li {
    display: inline-block;
    margin-right: 0.75rem;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 200; }

/*# sourceMappingURL=islandarchives.styles.css.map */
