.page-islandora-object {
	h1 {
		margin: 1rem 0;
	}

	.breadcrumb {
		margin-bottom: 1rem;
	}
}

.islandora-basic-collection-display-switch {
	.links li {
	
		display: inline-block;
		&:last-child {
		 margin-left: .5rem;
		}
	
	}
	a:link {
		@extend .normal_link;
		color: #333;
	}
}

//-----------------------
//-  large image pages  -
//-----------------------

//block layout
//.islandora-large-image-object {
  //@include outer-container;

//}

//.islandora-large-image-content-wrapper {
//@include span-columns(6);
//}

//.islandora-large-image-metadata {

//@include span-columns(6);
//@include omega();
//clear: initial;
//}

