//@import "neat/neat"; // or "neat" when in Rails
@import "libraries/neat/app/assets/stylesheets/neat";
@import "libraries/neat/app/assets/stylesheets/neat-helpers";
/*@import "neat";*/


html {
	font-size: 14px;
}

body {
	color: $base-font-color;
	font-family: $base-font-family;

	font-size: 1.4rem;
	line-height: $base-line-height;
	background: $base-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	/*font-size: modular-scale(1);*/
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;

	//font-family: et-book;
}

h1 {
	font-weight: 400;
	/*margin-top: 4rem;*/
	margin-top: $base-spacing;
	margin-bottom: 1.5rem;
	font-size: 3rem;
	line-height: 1;
}

h2 {
	font-style: italic;
	font-weight: 400;
	margin-top: 2.1rem;
	margin-bottom: $small-spacing;
	font-size: 2rem;
	line-height: 1;
}

h3 {
	font-style: italic;
	font-weight: 400;
	font-size: 1.7rem;
	margin-top: 2rem;
	margin-bottom: 0;
	line-height: 1;
}

p {
	margin: 0 0 $small-spacing;
}

p, ol, ul, dl {
	font-size: 1.4rem;
}

p {
	line-height: 2rem;
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
	padding-right: 0;
	vertical-align: baseline;
}

code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 1.0rem;
	line-height: 1.42;
}

a {
	color: $action-color;
	text-decoration: none;
	transition: color $base-duration $base-timing;

	&:active,
	&:focus,
	&:hover {
		color: shade($action-color, 25%);
	}
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

.pageTitle {
margin-top: 0;
}
.node__content {
  /* Links: replicate underline that clears descenders */
  @extend %nice_underline;
}
.normal_link {
	text-decoration: initial;
	background: initial;
	background-size: initial;
	background-repeat: initial;
	text-shadow: initial;
	background-position: initial;
}
//.l-main a.contextual-links-trigger:link,
//.l-main ul.contextual-links a:link {
	//@extend .normal_link;
//}
