//@import "{YOUR FILE NAME HERE}";
@import "navigation";
@import "branding";
@import "tabs";
//@import "pager";
@import "search";
@import "breadcrumbs";
@import "footer";



/*
 *hacks
 */
header.navigation ul li.nav-link a {font-family: "Gill Sans";font-size: 0.8em;font-weight: 100;}

.footer-2 ul li a {font-family: "Gill Sans";font-weight: 100;}
