.site-branding__name {}

.l-branding {
	width: 100%  !important;
}

//site branding style and layout
.site-branding {
	&__logo {
		float: left;
		margin-right: $small-spacing;

		img {
			width: 40px;

			@include media($large-screen) {
				width: 60px;
			}
		}
	}

	&__name {
		//margin-bottom: 1em;
		margin: 0;
		font-size: 1.9rem;
		line-height: 1;

		@include media($large-screen) {
			font-size: 3.2rem;
		}


		a {
			color: $base-font-color;
		}
	}

	&__slogan {
		margin: 0;
		font-size: 1.5rem;

		@include media($large-screen) {
			font-size: 2.1rem;
		}
	}
}
