//.islandora-basic-collection-grid {
	//@extend %nice_underline;
	//font-size: .8em;
//}

.islandora-basic-collection-display-switch {
  float: right;
}
.islandora-basic-collection {
	margin-top: $base-spacing;
	
}
.flex-boxes {
  //$flex-box-border-color: $light-gray;
  $flex-box-border-color: $base-border-color;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: $base-spacing/2;
  $flex-box-width: 12em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-color: $medium-gray;
  $flex-box-top-colors:
    tomato,
    #72BFBF,
    #92B1E3,
    #E3D743,
    #CCC,
    #F6C05C;

  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .flex-box {
    align-self: stretch;
    background: white;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color/*, 0 2px 4px darken( white, 10%)*/;
    display: block;
    flex: 2 2 $flex-box-width;
    margin: $flex-box-gutter;
    /*padding: 2em 2em 1em 2em;*/
    padding: 1em;

    text-decoration: none;
    transition: all 0.2s ease-in-out;

    //@for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
      //&:nth-child(#{$i}) {
        //$color-from-list: nth($flex-box-top-colors, $i);
		//border-top: 6px solid $color-from-list;
		border-top: 6px solid $flex-box-top-color;

		&:focus,
		&:hover {
		  //background-color: transparentize($color-from-list, 0.9);
		  background-color: transparentize($flex-box-top-color, 0.9);
		}
      //}
    //}

    img {
      display: block;
      /*height: 8em;*/
      margin: 0 auto 1em;
      //opacity: 0.4;
    }

    .flex-title {
      //color: $flex-box-color;
      font-size: 1em;
      //margin-bottom: 0.5em;
    }

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    flex: 1 1 40em;
  }
}

