.l-footer-wrapper {
	background: #333;
	
}

.upei-footer .address {
	font-size: 1rem;
	
}
.upeisheildfooter {
	width: 150px;
	
}
.footer-links ul, .links-last {
	font-family: $sans-serif;
	font-size:.8rem;
	font-weight: 100;
	
}

.footer-links .title{
	margin-bottom: .5rem;
	 
	
}
