//////////////////////////////////////////////
//header style
//////////////////////////////////////////////
@mixin header {
	background-color: $header-background-color;
	z-index: 998;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	transition: $base-transition;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);

	.container {
		padding: 0 1em;

		@include media($desktop) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

//////////////////////////////////////////////
//header layout
//////////////////////////////////////////////

.header {
	@include header;
}


.header__branding {
	//style
	@include header__branding;

	//layout
	width: 19rem;
	float: left;

	@include media($medium-screen) {
		width: 30em;
	}


	@include media($desktop) {
		flex: none;
	}
}

.header__menu {
	float: right;

	@include media($desktop) {
		flex-grow: 2;
		margin-right: $base-spacing;
	}
}

.header__menu {
	.sf-accordion-toggle {
		position: absolute;
		top: 10px;
		right: 10px;

		//hamburger menu
		a {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 2em;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;

			&:before {
				content: "\f0c9";
			}
		}

		//hide the link label text
		span {
			display: none;
		}
	}

	#superfish-1-accordion {
		width: 204px;
		float: right;
		background: #fff;
		padding: .5em;
		border: 1px solid #ccc;
	}
}

.header__search {
	@include header__search;

	clear: both;

	@include media($medium-screen) {
		width: 267px;
		float: right;
		clear: right;
	}
}
