//top menu styles
.header__menu {
	@include clearfix;
}

.header__menu__items {
	float: right;
}

.header__menu__item {
	display: inline-block;
	margin-right: $base-spacing;

	&.last {
		margin-right: 0;
	}
}

.header__menu__item__link {
	/*float: right;*/
	display: inline-block;
	padding: $small-spacing;
	font-family: $sans-serif;
	color: #333;
	font-weight: 100;
	font-size: 1rem;

	/*transition: border-bottom 400ms ease;*/
	/*border-bottom: 2px solid transparent;*/

	&:hover {
		/*border-bottom: 2px solid $red;*/
	}
}

.header__menu__item .sf-depth-1 {
	border: 1px solid transparent;
	.sf-no-children .header__menu__item__link {
	
	}
}


//links without dropdown panel
.header__menu__items > .sf-no-children .header__menu__item__link {
	border-bottom: 2px solid transparent;

	&:hover {
		background: #fff;
		border: 1px solid #ccc;
		border-bottom: 2px solid $red;
	}
}

//links with dropdown panel
.header__menu .menu > li.sfHover > a {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

//dropdown
.header__menu .header__menu__item.sfHover > ul {
	background: #fff;
	padding: .5em;
	border: 1px solid #ccc;
	border-top: 2px solid $red;
	top: 1.8em;
}

