@import "../libraries/neat/app/assets/stylesheets/neat";
.nav-wrapper {
	background: #333;
}

.l-region--navigation {
	//@include clearfix;
	//border-bottom: 1px solid #d8d8d8;
	padding: $small-spacing 0;

	nav {
		@include span-columns(9);
	}
	.block--islandora-solr {
		@include span-columns(3);
	}

	@include outer-container;

	.menu {
		li {
			display: inline-block;
			padding-right: 1em;

			a {
				font-family: $sans-serif;
				color: #fff;
				font-weight: 100;
				font-size: 1rem;
			}
		}
	}
}
