ul.pager {
	/*$base-border-color: gainsboro !default;*/
	$pagination-border-color: $base-border-color;
	$pagination-border: 1px solid $pagination-border-color;
	/*$pagination-background: lighten($pagination-border-color, 10);*/
	$pagination-background: $tan;
	/*$pagination-hover-background: lighten($pagination-background, 10);*/
	$pagination-hover-background: #fff;
	$pagination-color: $base-font-color;

	//text-align: center;
	//display: inline;
	//margin: 0;
	//padding: 0;
	//text-align: center;
	margin-bottom: $base-spacing;

	li {
		background: $pagination-background;
		font-family: $sans-serif;
		text-transform: uppercase;
		font-size: .7em;
		font-weight: 100;
		border-radius: $base-border-radius;
		border: $pagination-border;
		color: $pagination-color;
		outline: none;
		padding: ($base-spacing / 4) ($gutter / 2);
		text-decoration: none;
		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			background: $pagination-hover-background;
			/*color: $action-color;*/
		}

		&.pager__item--current {
			background: $pagination-hover-background;
		}

		a {
			color: $pagination-color;
		}
	}
}

.pager__item {
	padding: 0;

	$icon_padding: 4px;

	&--first,
	&--previous {
		i {
			margin-right: $icon_padding;
		}
	}

	&--next,
	&--last {
		i {
			margin-left: $icon_padding;
		}
	}
}
