html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

.l-header {
	padding-top: $small-spacing;
}
//body {
	//padding-top: $base-spacing;
//}

.site-branding__name {}

/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
@import "../libraries/neat/app/assets/stylesheets/neat";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*";

.l-constrained {
	width: 95%;
	margin: 0 auto;

	@include clearfix;
}
.l-region--navigation { 
	margin-bottom: 1em;
	@extend .l-constrained;
	nav {


	}
}/* Header */
.logged-in .l-header {
	top: 57px;

	@include media($large-screen) {
		top: 28px;
	}
}
.l-header {
	padding: $small-spacing 0;

	.block {
		float: right;
	}
}

/* Content Area */
.l-highlighted-wrapper {
	padding: $base-spacing 0;
}

.l-region--highlighted {
	@extend .l-constrained;
}

.l-region--help {
	margin-bottom: $base-spacing;
}

.l-main {
	/*margin-top: 2 * $base-spacing;*/
	margin-top: 135px;
	margin-bottom: 2 * $base-spacing;
}

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
	//padding: $base-spacing;
}

/* Footer */
.l-footer-wrapper {
	padding: $base-spacing 0;
}

.l-region--footer {
	@extend .l-constrained;
}

@include media($medium-screen) {
	.l-constrained {
		//width: 90%;
	}

	/* Header */
	.l-branding {
		@include span-columns(6);
	}

	//.l-region--navigation {
		//@include span-columns(6);
	//}

	.l-region--header {
		@include span-columns(6);

		@include omega;
	}

	/* Sidebars */
	.two-sidebars,
	.one-sidebar {
		.l-content {
			@include span-columns(9);
		}

		.l-region--sidebar-first,
		.l-region--sidebar-second {
			@include span-columns(3);

			clear: right;
		}
	}
}


@include media($large-screen) {
	.l-constrained {
		//width: 80%;
    max-width: 1440px;
	}

	/* Sidebars */
	.one-sidebar {
		.l-content {
			@include span-columns(9);
      padding-right: $base-spacing;
		}

		.l-region--sidebar-first {
      margin-top: $base-spacing;
			@include span-columns(3);

			@include omega();
			clear: none;
		}
	}

	.two-sidebars {
		.l-content {
			@include span-columns(6);
		}

		.l-region--sidebar-first,
		.l-region--sidebar-second {
			@include span-columns(3);

			clear: none;
		}

		.l-region--sidebar-second {
			@include span-columns(3);
		}
	}
}
