.hero {
  /*margin-top: 135px;*/
  $large-screen: 50em !default;

  align-items: center;
  /*this image is from http://freestock.ca/canada_g92-pei_coastal_scenery__hdr_p1910.html and is ok for no commercial use*/
  /*background-image: url("../../images/photo_1910_20120525_v1.jpg");*/
  background-image: url("/sites/all/themes/islandarchives/images/photo_1910_20120525_v1.jpg");
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;
  background-color: $medium-gray;

    background-size: cover;
  @include media($large-screen) {
  background-position: left -44px;
    background-size: cover;
    justify-content: flex-end;
  }


  .hero-content {
	  padding: $small-spacing;
	  margin-top: 8em;
	  $hero_bg_color: rgba(255, 255, 255, 0.42);
        background-color: $hero_bg_color;
		    box-shadow: 0 0 5px 10px $hero_bg_color;
	  max-width: 33em;
    text-align: center;
	h1 {
		margin: 0 0 $small-spacing 0;
	}
	p {
	margin: 0;
	}

    @include media($large-screen) {
      text-align: left;
    }
  }

  .hero-logo {
    margin: auto;
  }
}
