.pull-quote > p:first-of-type::before, .pull-quote > p:last-of-type::after {
  color: #cdcdcd;
    display: inline-block;
  font-size: 2.8125rem;
    font-weight: bold;
  line-height: 0;
    max-width: 1.25rem; }	
.pull-quote {
	border: 0;
	margin: 2rem 0 1rem;
	padding-left: 2rem !important;
	padding-right: 1.25rem;
	position: relative;
}

@media (min-width: 768px) {
	.pull-quote {
		margin: 1.5rem 0 1.5rem;
	}
}

.pull-quote > p {
	font-size: 1.4375rem;
	font-style: normal;
	margin: 0;
}

.pull-quote > p:first-of-type::before {
	content: '\201C\2002';
	margin-left: -1.5rem;
	margin-right: .25rem;
}

.pull-quote > p:last-of-type {
	margin-bottom: 0;
}

.pull-quote > p:last-of-type::after {
	content: '\2002\201E';
	margin-left: .5rem;
}

.pull-quote__citation {
	display: inline-block;
	/*font-size: 1.25rem;*/
	font-style: italic;
	line-height: 1.5;
	margin-top: 0;
	width: 100%;
	border: 0;
	padding-left: 2rem;
	padding-right: 1.25rem;
	position: relative;
}
blockquote {
@extend .pull-quote;
}
