.page-islandora-search {
	.pageTitle {
	
		display: flex;
	
	}
	#islandora-solr-result-count {
		padding-left: $small-spacing;
		font-size: 1em;
		font-size: .7em;
		line-height: 1.7;
	}
	
}
#islandora-solr-top {
    min-height: initial;
}
