aside nav.block {
}

aside nav div + div {
	margin-bottom: $base-spacing;
}

aside nav + nav {
	margin-top: $base-spacing;
}

.menu li > ul {
	margin-left: $small-spacing;
}

.all-link a {
	@extend button;

	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 400;
	margin: 0 auto;
	display: block;
	width: 220px;
	margin-top: $base-spacing;
}
