.tabs {
  background: $white;
  border: $base-border;
  border-width: 1px 0;
  margin-bottom: $base-spacing;

  li {
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em ;
    font-weight: 200;
    margin-right: $small-spacing;
    text-transform: uppercase;
  }
}

